#insertarea{
    -fx-background-color: white;
    -fx-padding: 30px;
    -fx-min-width: 500px;
    -fx-min-height: 500px;

}
#insertarea .text-field{
    -fx-border-color: cornflowerblue;
    -fx-border-style: hidden hidden solid hidden;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;



}
#insertarea .label{

    -fx-min-width: 150px;

}
#insertarea .text-area{
   
    -fx-spacing: 20px;
}

#toparea .button{
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-text-fill: white;

}
#toparea .text-field {
    -fx-border-radius: 120px;
    -fx-spacing: 50px;
}
#toparea{
    -fx-background-color: #065895;
    -fx-spacing: 0px;
}


@font-face {
    font-family: 'FontAwesome';
    src: url("/fonts/fontawesome-webfont.ttf");
}